<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
			<ul>
				<h1>HelloElwin's Blog</h1>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/blog">Blog</a></li>
			</ul>
		</nav>
		<div class="container">
		
		{{ content }}
		
		</div><!-- /.container -->
		<footer>
			<ul>
				<p>@HelloElwin-2022</p>
				<!-- <li><a href="elwin@connect.hku.hk">email</a></li> -->
			</ul>
		</footer>
	</body>
</html>
