<!DOCTYPE html>
<html data-theme="auto">
	<head>

        {% include analytics.html %}
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

	 	<title>{{ page.title }}</title>
		<link rel="shortcut icon" type="image/png" href="/assets/images/helloelwin.png">
		<link rel="preconnect" href="https://fonts.googleapis.com">

		<!-- load font -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Ma+Shan+Zheng&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+SC:wght@200..900&display=swap" rel="stylesheet">

		<!-- link to main stylesheet -->
		<!-- <link rel="stylesheet" type="text/css" href="/css/main.css"> -->
		<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
		<!--<link href="/css/highlight.css" rel="stylesheet" />-->

        {% include toggle_theme_js.html %}
        {% include toggle_theme_button.html %}

		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/base16/railscasts.min.css">
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.7.0/highlightjs-line-numbers.min.js"></script>
		<script>hljs.initLineNumbersOnLoad();</script>

		{% include mathjax_support.html %}

	</head>
	<body>
		<nav>
			<ul>
				<h1>Yaowen Ye</h1>
                <h4>竹杖芒鞋轻胜马 谁怕 一蓑烟雨任平生</h4>
				<li><a href="/">Home</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/photography">Photography</a></li>
				<li><a href="/music">Music</a></li>
				<li><a href="/subscribe">Subscribe</a></li>
			</ul>
		</nav>

		<script>
			document.addEventListener("DOMContentLoaded", function() {
				document.querySelectorAll("nav ul li a").forEach(anchor => {
					const initialWidth = anchor.offsetWidth; // Measure initial width
					anchor.style.width = `${initialWidth}px`; // Set fixed width
				});
			});
		</script>

        <div class="container">
		
		{{ content }}
		
		</div><!-- /.container -->
		<footer>
			<ul>
				<div style="display: flex; justify-content: space-between; width: 100%;">
					<p style="margin-top: -0.5em;">Designed by Yaowen Ye.</p>
					<p style="font-weight: lighter; margin-top: -0.5em; font-style: normal;">© 2024 Yaowen Ye.</p>
				</div>
				<!-- <li><a href="elwin@connect.hku.hk">email</a></li> -->
			</ul>
		</footer>
	</body>
</html>
