<!DOCTYPE html>
<html data-theme="auto">
	<head>

        {% include analytics.html %}

	 	<title>{{ page.title }}</title>
		<link rel="shortcut icon" type="image/png" href="/images/helloelwin.png">

		<!-- link to main stylesheet -->
		<!-- <link rel="stylesheet" type="text/css" href="/css/main.css"> -->
		<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
		<!--<link href="/css/highlight.css" rel="stylesheet" />-->

        {% include toggle_theme_js.html %}
        {% include toggle_theme_button.html %}

		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/base16/railscasts.min.css">
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.7.0/highlightjs-line-numbers.min.js"></script>
		<script>hljs.initLineNumbersOnLoad();</script>

		{% include mathjax_support.html %}

	</head>
	<body style="">
		<nav>
			<ul>
				<h1>Yaowen Ye</h1>
                <h4>竹杖芒鞋轻胜马  谁怕  一蓑烟雨任平生</h4>
				<li><a href="/">Home</a></li>
				<li><a href="/all">Blog</a></li>
				<li><a href="/photography">Photography</a></li>
				<li><a href="/music">Music</a></li>
				<li><a href="/subscribe">Subscribe</a></li>
			</ul>
		</nav>
        <div class="container">
		
		{{ content }}
		
		</div><!-- /.container -->
		<footer>
			<ul>
				<p>Designed by Yaowen Ye (2024)</p>
				<!-- <li><a href="elwin@connect.hku.hk">email</a></li> -->
			</ul>
		</footer>
	</body>
</html>
