---
layout: default
---

<div class="post">
    <h1> Welcome. </h1>
    <p style="text-align: justify">
    I am Yaowen Ye (Elwin, or 叶耀文), a rising senior majoring in Computer Science at the University of Hong Kong and an exchange student at UC Berkeley (spring and summer 2024). I have been deeply intrigued by <b>machine intelligence</b> and <b>AI alignment</b> research and will devote myself to these fantastic fields in my future career. Currently, I am working on weak-to-strong generalization in <a href="https://jsteinhardt.stat.berkeley.edu">Prof. Jacob Steinhardt</a>'s group. Before this, I was fortunated to be supervised by <a href="https://sites.google.com/view/chaoh">Prof. Chao Huang</a> at HKU and <a href="https://yzhu.io">Prof. Yixin Zhu</a> at <a href="https://pku.ai">PKU CoRe Lab</a> at Peking University.  <br>
    </p>
    Links: &emsp;<a href="mailto:elwin@connect.hku.hk">[📮Email]</a> &emsp;<a href="https://www.admonymous.co/helloelwin">[🌟Give me feedback!]</a>
    <br>
    <br>
    <img src="./images/me2.jpg" alt="Me" style="width:80%;" />
</div>

&nbsp;
<div></div>
&nbsp;

<div class="post">
  {{ content }}
</div>

&nbsp;
<div></div>
&nbsp;

<div class="post">

    <h1> Publications </h1>

    <h3> 2023 </h3>

    <b> <i>Graph Masked Autoencoder for Sequential Recommendation.</i> </b> <br>
    &emsp;&emsp;&emsp;&emsp; <i class="paperinfo">ACM SIGIR Conference on Research and Development in Information Retrieval (SIGIR'23)</i><br>
    &emsp;&emsp;&emsp;&emsp; <span class="paperinfo"><b>Yaowen Ye</b>, Chao Huang and Lianghao Xia. <a href="https://arxiv.org/abs/2305.04619">[pdf]</a>  </span><br>

    <br>

    <b> <i>Masked Graph Transformer for Recommendation.</i> </b><br>
    &emsp;&emsp;&emsp;&emsp; <i class="paperinfo">ACM SIGIR Conference on Research and Development in Information Retrieval (SIGIR'23)</i><br>
    &emsp;&emsp;&emsp;&emsp; <span class="paperinfo"> Chaoliu Li, Chao Huang, Lianghao Xia, Xubin Ren, <b>Yaowen Ye</b> and Yong Xu. <a href="https://arxiv.org/abs/2306.02330">[pdf]</a> </span><br>

</div>

&nbsp;
<div></div>
&nbsp;

<div class="post">
	<h1>Friends</h1>
	<ul>
		<li><a href="https://taogoddd.github.io">Yitao Liu (🌊God)</a></li>
		<li><a href="https://web.stanford.edu/~xuheng">Xuheng Cai</a></li>
		<li><a href="https://henoru.github.io">Henoru</a></li>
		<li><a href="https://heentong.github.io">Entong He</a></li>
	</ul>
</div>
