---
layout: default
---

<div class="post">
    <!-- <h1> Welcome. </h1> -->
    <p style="text-align: justify">
    I am Yaowen Ye (or Elwin, or <span style='font-family: "Ma Shan Zheng", song;'>叶耀文</span>), a senior majoring in Computer Science at the University of Hong Kong. I am interested in making human oversight of AI systems reliable on hard tasks and efficient for complex outputs. Currently, I am working in <a href="https://jsteinhardt.stat.berkeley.edu">Prof. Jacob Steinhardt</a>'s group. Before this, I was fortunate to be advised by <a href="https://yzhu.io">Prof. Yixin Zhu</a> at <a href="https://pku.ai">PKU Cognitive Reasoning Lab</a> and <a href="https://sites.google.com/view/chaoh">Prof. Chao Huang</a> at <a href="https://sites.google.com/view/chaoh/group-join-us?authuser=0">HKU Data Intelligence Lab</a>.<br>
    </p>
    Links: &emsp;<a href="mailto:elwin@connect.hku.hk">[Email]</a> &emsp;<a href="https://www.admonymous.co/helloelwin">[Give me feedback!]</a>
    <br>
    <br>
    <img src="/assets/images/me2.jpg" alt="Me" class="homeimage" />
</div>

&nbsp;
<div></div>
&nbsp;

<div class="post">
  {{ content }}
</div>

&nbsp;
<div></div>
&nbsp;

<div class="post">

    <h1> Publications </h1>

    <h3> 2024 </h3>

    Iterative Label Refinement Matters More than Preference Optimization under Weak Supervision. <br>
    &emsp;&emsp; <i class="paperinfo">Under review.</i><br>
    &emsp;&emsp; <span class="paperinfo"><b>Yaowen Ye*</b>, Cassidy Laidlaw* and Jacob Steinhardt.  </span><br>

    <h3> 2023 </h3>

    Graph Masked Autoencoder for Sequential Recommendation. <br>
    &emsp;&emsp; <i class="paperinfo">ACM SIGIR Conference on Research and Development in Information Retrieval (SIGIR'23)</i><br>
    &emsp;&emsp; <span class="paperinfo"><b>Yaowen Ye</b>, Chao Huang and Lianghao Xia. <a href="https://arxiv.org/abs/2305.04619">[pdf]</a>  </span><br>

    <br>

    Masked Graph Transformer for Recommendation. <br>
    &emsp;&emsp; <i class="paperinfo">ACM SIGIR Conference on Research and Development in Information Retrieval (SIGIR'23)</i><br>
    &emsp;&emsp; <span class="paperinfo"> Chaoliu Li, Chao Huang, Lianghao Xia, Xubin Ren, <b>Yaowen Ye</b> and Yong Xu. <a href="https://arxiv.org/abs/2306.02330">[pdf]</a> </span>
    
    <br>
    
    <br>

</div>

&nbsp;
<div></div>
&nbsp;

<div class="post">

    <h1> Miscellaneous </h1>
    <ul>
      <li>I am a co-founder of <a href="https://ai4good-hku.github.io">HKU AI4Good</a>, a student group focused on AI safety, alignment, and undergrad AI research.</li>
      <li>I am a big fan of Vladimir Horowitz! I love classical music, film music, harmony theory, and impromptu piano.</li>
      <li>I love photography and cinematography and graphic design (like elegant posters, slides, and websites). </li>
      <li>I was a co-leader of <a href="https://innowings.engg.hku.hk/astar/">HKU Astar</a>, a team that builds cool competitive robots.</li>
      <li>My MBTI is INFJ.</li>
    </ul>

</div>

&nbsp;
<div></div>
&nbsp;

<div class="post">
	<h1>Friend Links</h1>
  (Alphabetical order)
	<ul></ul>
		<li><a href="https://heentong.github.io">Entong He</a></li>
		<li><a href="https://web.stanford.edu/~xuheng">Xuheng Cai</a></li>
		<li><a href="https://taogoddd.github.io">Yitao Liu (🌊God)</a></li>
		<li><a href="https://henoru.github.io">Zhuoyu He (Henoru)</a></li>
	</ul>
</div>
